# NextJS

**/.next
**/node_modules

# env files (can opt-in for committing if needed)
**/.env
**/.env.local
**/.env.development
**/.env.production

# Python

**/venv
**/env
**/__pycache__
**/__pycache__/**