#Variables públicas (expuestas al cliente con NEXT_PUBLIC_)
NEXT_PUBLIC_API_URL="http://localhost:5001/api" 
NEXT_PUBLIC_SITE_NAME="Infinite Herbs"
NEXT_PUBLIC_API_TIMEOUT=30000
NODE_ENV="local"
DATABASE_URL="file:./database-local.db"
JWT_SECRET="secure_secret"