<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>

    <httpPlatform
      stdoutLogEnabled="true"
      stdoutLogFile=".\logs\node.log"
      startupTimeLimit="60"
      processPath="C:\Program Files\nodejs\node.exe"
      arguments=".\server.js">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="NODE_ENV" value="production" />
        <environmentVariable name="NEXT_PUBLIC_API_BASE_URL" value="http://localhost:5001" />
        <environmentVariable name="NEXT_PUBLIC_API_TIMEOUT" value="30000" />
        <environmentVariable name="NEXT_PUBLIC_SITE_NAME" value="Infinite Herbs" />
      </environmentVariables>
    </httpPlatform>

    <rewrite>
      <rules>
        <rule name="ReverseProxyInboundRule1" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://localhost:3000/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>